.padding-top-25 {
  padding-bottom: 25%;
}
.padding-bottom-25 {
  padding-bottom: 25%;
}
.padding-top-24 {
  padding-bottom: 24%;
}
.padding-bottom-24 {
  padding-bottom: 24%;
}
.padding-top-23 {
  padding-bottom: 23%;
}
.padding-bottom-23 {
  padding-bottom: 23%;
}
.padding-top-22 {
  padding-bottom: 22%;
}
.padding-bottom-22 {
  padding-bottom: 22%;
}
.padding-top-21 {
  padding-bottom: 21%;
}
.padding-bottom-21 {
  padding-bottom: 21%;
}
.padding-top-20 {
  padding-bottom: 20%;
}
.padding-bottom-20 {
  padding-bottom: 20%;
}
.padding-top-19 {
  padding-bottom: 19%;
}
.padding-bottom-19 {
  padding-bottom: 19%;
}
.padding-top-18 {
  padding-bottom: 18%;
}
.padding-bottom-18 {
  padding-bottom: 18%;
}
.padding-top-17 {
  padding-bottom: 17%;
}
.padding-bottom-17 {
  padding-bottom: 17%;
}
.padding-top-16 {
  padding-bottom: 16%;
}
.padding-bottom-16 {
  padding-bottom: 16%;
}
.padding-top-15 {
  padding-bottom: 15%;
}
.padding-bottom-15 {
  padding-bottom: 15%;
}
.padding-top-14 {
  padding-bottom: 14%;
}
.padding-bottom-14 {
  padding-bottom: 14%;
}
.padding-top-13 {
  padding-bottom: 13%;
}
.padding-bottom-13 {
  padding-bottom: 13%;
}
.padding-top-12 {
  padding-bottom: 12%;
}
.padding-bottom-12 {
  padding-bottom: 12%;
}
.padding-top-11 {
  padding-bottom: 11%;
}
.padding-bottom-11 {
  padding-bottom: 11%;
}
.padding-top-10 {
  padding-bottom: 10%;
}
.padding-bottom-10 {
  padding-bottom: 10%;
}
.padding-top-9 {
  padding-bottom: 9%;
}
.padding-bottom-9 {
  padding-bottom: 9%;
}
.padding-top-8 {
  padding-bottom: 8%;
}
.padding-bottom-8 {
  padding-bottom: 8%;
}
.padding-top-7 {
  padding-bottom: 7%;
}
.padding-bottom-7 {
  padding-bottom: 7%;
}
.padding-top-6 {
  padding-bottom: 6%;
}
.padding-bottom-6 {
  padding-bottom: 6%;
}
.padding-top-5 {
  padding-bottom: 5%;
}
.padding-bottom-5 {
  padding-bottom: 5%;
}
.padding-top-4 {
  padding-bottom: 4%;
}
.padding-bottom-4 {
  padding-bottom: 4%;
}
.padding-top-3 {
  padding-bottom: 3%;
}
.padding-bottom-3 {
  padding-bottom: 3%;
}
.padding-top-2 {
  padding-bottom: 2%;
}
.padding-bottom-2 {
  padding-bottom: 2%;
}
.padding-top-1 {
  padding-bottom: 1%;
}
.padding-bottom-1 {
  padding-bottom: 1%;
}
.h-50 {
  height: 50px;
}
.img-center {
  margin: 0 auto;
}
.cursor-pointer {
  cursor: pointer;
}
.btn i.fa {
  margin-right: 6px;
}
.owl-carousel .item {
  margin: 3px;
}
.owl-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}
.expand {
  width: 99% !important;
  white-space: normal !important;
}
.no-padding- {
  padding: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-margin- {
  margin: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}

/*# sourceMappingURL=app.css.map */
