.helpers-loop (@i) when (@i > 0) {
  .padding-top-@{i} {
	padding-bottom: ~"@{i}%";
  }
  .padding-bottom-@{i} {
	padding-bottom: ~"@{i}%";
  }
  .helpers-loop(@i - 1);
}

.helpers-loop (25);

.h-50{
  height: 50px;
}

.img-center{
  margin: 0 auto;
}

.cursor-pointer {
  cursor: pointer;
}

.btn i.fa{
  margin-right: 6px;
}

.owl-carousel .item{
  margin: 3px;
}

.owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

.expand {
  width:99% !important;
  white-space:normal !important;
}

.no-padding-{
  &left{
	padding-left: 0 !important;
  }
  &right{
	padding-right: 0 !important;
  }
  &top{
	padding-top: 0 !important;
  }
  &bottom{
	padding-bottom: 0 !important;
  }
  padding: 0 !important;
}

.no-margin-{
  &left{
	margin-left: 0 !important;
  }
  &right{
	margin-right: 0 !important;
  }
  &top{
	margin-top: 0 !important;
  }
  &bottom{
	margin-bottom: 0 !important;
  }
  margin: 0 !important;
}
